<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add book</title>
</head>
<body>

    <h3>Add book :</h3>
    <div class="add">
        <form action="/books" method="post">
            <h3>Fill up the form</h3>
            <input type="text" name="title" id="title" placeholder="Enter book title"><br><br>
            <input type="text" name="author" id="author" placeholder="Enter author name"><br><br>
            <button>Submit</button>
        </form>
    </div>
   
    
</body>
</html>